APP_NAME=VisioHome
APP_ENV=production
APP_DEBUG=false
APP_URL=https://temp-url.onrender.com

LOG_CHANNEL=stack

DB_CONNECTION=pgsql

SESSION_DRIVER=cookie
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost

FILESYSTEM_DISK=public