APP_NAME=VisioHome
APP_ENV=production
APP_DEBUG=false
APP_URL=https://temp-url.onrender.com

LOG_CHANNEL=stack

DB_CONNECTION=pgsql

SESSION_DRIVER=cookie
SESSION_LIFETIME=120

FRONTEND_URL=https://frontend-visiohome.vercel.app
GOOGLE_REDIRECT_URI=https://backend-visiohome.onrender.com/auth/google/callback

SANCTUM_STATEFUL_DOMAINS=frontend-visiohome.vercel.app
SESSION_DOMAIN=backend-visiohome.onrender.com

FILESYSTEM_DISK=public